[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cellpypes"]
	path = cellpypes
	url = https://github.com/felixthestudent/cellpypes
[submodule "scUtils"]
	path = scUtils
	url = https://github.com/felixthestudent/scutils
